# Ignore runs folder
runs/

# Ignore models folder
models/

# Ignore pdf and txt
puerto-rico-2players-rule.pdf
puerto-rico-rules-en.pdf
rules.txt

# Ignore . files 
__pycache__
.agents/
.pytest_cache/
.vscode/